h1{
    background-color: green;
 }
  body{
    font-family: <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:ital@1&display=swap" rel="stylesheet">;
  }
  footer{
    background-color:green;
    padding: 15px 0;
    text-align: center;
    }
