@import url(styles/header.css);

.cabeçalho_menu-hamburguer {
    width: 24px;
    height: 24px;
    background-image: url("../img/Menu.svg");
    display: inline-block;
    
}
:root { 
    --cor-de-fundo: #ebecee;
    --branco: #FFFFFF;
    
}